<p>Tisso vison in the wild</p>

<div class="grid">
  {% if section.settings.product_list %}
    {% for product in section.settings.product_list %}
      <div class="product">
        <img src="{{ product.featured_image| img_url: '480x480' }}" alt="{{ product.title }}" width="300px" height="300px">
      </div>
    {% endfor %}
  {% else %}
    {% for product in all_products limit:6 %}
      <div class="product">
        <img src="{{ product.featured_image | image_url: '480x480' }}" alt="{{ product.title }}" width="300px" height="300px">
      </div>
    {% endfor %}

  {% endif %}

</div>

{% schema %}
  {
    "name": "grid",
    "settings": [
      {
        "type": "product_list",
        "id": "product_list",
        "label": "Select the Products to be featured",
        "limit": 6
        
      }
    ]
  }
{% endschema %}