<p>Tisso vison in the wild</p>



{% schema %}
  {
    "name": "grid",
    "settings": [
      {
        "type": "product_list",
        "id": "product_list",
        "label": "Select the Products to be featured",
        "limit": 6
        
      }
    ]
  }
{% endschema %}