{{'grid.css' |  asset_url | stylesheet_tag}}

<p>Tisso vison in the wild</p>

<div class="grid">
    {% for product in section.settings.product_list %}
      <div class="product">
        <img src="{{ product.featured_image| img_url: '480x480' }}" alt="{{ product.title }}" width="600px" height="600px">
      </div>
    {% endfor %}
</div>

<div class="modal">
  <div class="modal_content">
    <span class="modal_close_button">
      &#10006;
    </span>
  </div>
</div>

{% schema %}
  {
    "name": "grid",
    "settings": [
      {
        "type": "product_list",
        "id": "product_list",
        "label": "Select the Products to be featured",
        "limit": 6
        
      }
    ]
  }
{% endschema %}