@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
.page{
}
.banner_header{
    position: relative;
    display: flex;
    background-color: #F5F5F5;
    justify-content: space-between;
    padding: 10px 50px 10px 50px;
    width: 100%;
    z-index: 2;
}

.left_banner_header,.right_banner_header,.middle_banner_header{
    flex: 1;
    font-family:jost;
    color:black;
}
.img1_container{
  display:flex;
  position:relative;
  margin-top:-25rem;
  background:red;
  flex: 1;
}


.img1{
  flex:1;
  z-index: 1;
  position: relative;
}
.img2{
  display:block;
  position:relative;
  z-index:3; 
}

.banner_right_image{
  flex:1.6;
}

.banner_content{
  display: flex;
  flex-direction: column;
  
}
.banner_lower{
  display: flex;
  
}
.banner_text{
  flex:1;
  position:relative;
  font-family:jost;
  color:black;
  display:block;

}
.title{
  position: relative;
  font-weight:500;
  font-size:10rem;
  line-height:150px;
  left:7rem;

}
.subtitle{
  position:relative;
  color:black;
  font-family: jost;
  font-weight: 400;
  font-size:26px;
  left:7rem;

}
.banner_button{
  font-family:jost;
  color:black;
  background: #FFF544;
  height:70px;
  width: 310px;
  font-size: 22px
  
}

.banner_footer{
    background-color: #F5F5F5;
    width: 100%;
    text-align: center;
    font-family:jost;
    color:black;
}