@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
.page{
}
.banner_header{
    position: relative;
    display: flex;
    background-color: #F5F5F5;
    justify-content: space-between;
    padding: 10px 50px 10px 50px;
    width: 100%;
    z-index: 2;
}

.left_banner_header,.right_banner_header,.middle_banner_header{
    flex: 1;
    font-family:jost;
    color:black;
}

.img1{
  margin-top: -347px;
  z-index: 1;
  position: relative;
  margin-bottom:0px;
  padding:0px;
  height:1000px
}
.img2{
  display:block;
  margin-top:-335px;
  margin-left:725px;
  position:relative;
  z-index:3;
  
  
}

.banner_text{
  position:relative;
  font-family:jost;
  color:black;
  display:block;
  margin-top: -200px;
  left: 70px;

}
.title{
  position: relative;
  font-weight:500;
  font-size:95px;
  line-height:150px
}
.subtitle{
  width: 35%;
  color:black;
  font-family: jost;
  font-weight: 400;
  font-size:26px
}
.banner_button{
  font-family:jost;
  color:black;
  background: #FFF544;
  height:70px;
  width: 290px
  
}

.banner_footer{
    background-color: #F5F5F5;
    width: 100%;
    text-align: center;
    font-family:jost;
    color:black;
}