.grid{
  position:relative;
  justify-content:space-around;
  display: flex;
  flex-wrap: wrap;
}

.product{
  cursor:pointer;
  
}

.modal{
  display:block;
  position:fixed;
  top:35%;
  left:35%;
  width:30%;
  height:50%
  z-index:100;
  background-color:black;
}
.modal_close_button{
  position:relative;
  top:5px;
  right:5px;
}

.modal_content{
  display:flex;
  background-color:white;
  
}
.modal_img{
  flex:1;
  
}
.modal_text{
  felx:1.2;
}