.grid{
  position:relative;
  justify-content:space-around;
  display: flex;
  flex-wrap: wrap;
}

.product{
  cursor:pointer;
  
}

.modal{
  display:none;
  position:fixed;
  top:20%;
  left:40%;
  width:20%;
  height:50%;
  z-index:100;
  background-color:white;
}
.modal_close_button{
  position:absolute;
  top:5px;
  right:5px;
  cursor:pointer;
}

.modal_content{
  display:flex;
  background-color:white;
  
}
.modal_img{
  flex:1;
  
  
}
.modal_text{
  felx:1.2;
}

.modal_color_selection{
  display:flex;
  border-style: solid;
  border-width:1px;
  width:100%
}

.color_choice{
  display:flex;
  flex:1;
  
}

.color_showcase{
  flex:0.05;
  height:100%;

  border-right-style: solid;
  border-left-style:solid;
  border-width:1px;
  border-color:black;
  
}
.color_name{
  flex:1;
  cursor:pointer;
}

.modal_size_selection{
  
}

.size_select{
  width:100%;
}




