.grid{
  position:relative;
  justify-content:space-around;
  display: flex;
  flex-wrap: wrap;
}

.product{
  cursor:pointer;
  
}

.modal{
  /* display:none; */
  position:fixed;
  width:30%;
  height:50%
}

.modal_content{
  display:flex;
  
}
.modal_img{
  flex:1;
  
}
.modal_text{
  felx:1.2;
}